.App {
  text-align: center;
  margin: 20px;
}

.Name{
  color: rgb(61, 61, 61);
  font-size: 24pt;
}

.adresse{
  color: rgb(94, 94, 94);
  font-size: 14pt;
  padding: 6pt;
}

.details{
display: block;
border: 2px solid gainsboro;
box-shadow: 10px 5px 5px rgb(199, 199, 199);
width:360px;
margin-left: auto;
margin-right: auto;
background-color: rgb(250, 250, 250);
}